USE [master]
GO
/****** Object:  Database [StudentDB]    Script Date: 10/9/2018 7:38:47 AM ******/
CREATE DATABASE [StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\StudentDB.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'StudentDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\StudentDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentDB]
GO
/****** Object:  User [cntt]    Script Date: 10/9/2018 7:38:47 AM ******/

/****** Object:  Table [dbo].[Student]    Script Date: 10/9/2018 7:38:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[GPA] [float] NULL,
	[Major] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Student] ([ID], [Name], [GPA], [Major]) VALUES (N'1', N'An', 7.7, N'CNTT')
INSERT [dbo].[Student] ([ID], [Name], [GPA], [Major]) VALUES (N'2', N'Binh', 8.3, N'Software Engineering')
INSERT [dbo].[Student] ([ID], [Name], [GPA], [Major]) VALUES (N'3', N'Nam', 6.8, N'QTKD')
USE [master]
GO
